*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)), url(banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
#name{
   font-family: 'Sacramento',cursive;
   list-style: none;
   color: #fff;
   font-weight: 500;
   font-size: 36px;
   cursor: pointer;
   justify-self: center;
}
 nav{
    display: flex;
    padding: 2% 6%;
    justify-content: center;
    align-items: center;
 }
 nav img{
    width: 200px;
    padding-right: 0;
    padding-left: 2px;
 }

 .nav-links{
    flex: 1;
    text-align: right;
 }
 .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 }
 .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 6=00;
 }
 .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f5f5f5;
    display: block;
    margin: auto;
    transition: 0.5s;
 }

 .nav-links ul li:hover::after{
    width: 100% ;
 }
 .text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
 }
 .text-box h1{
    font-family:  'Sacramento',cursive;
    font-size: 62px;
 }
 .text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
 }
 .visit{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
 }
 .visit:hover{
    border: 1px solid #5d2824;
    background: #5d2824;
    transition: 1s;
 }

 nav .fa{
    display: none;
    color: #fff;
 }


 @media(max-width: 900px){
    nav{
        justify-content: space-between;
    }
    nav{
        padding-left: 0px;
    }

    .text-box h1{
        font-size: 40px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #120909;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
        padding: 30px;
    }

    .row{
        flex-direction: column;
    }
    .row-shop{
      flex-direction: column;
    }
   .reviews-col img{
      margin-left: 0px;
      margin-right: 15px;
   } 
   .calltoaction h1{
      font-size: 100%;
      padding-left: 20px;
      padding-right: 20px;
   } 
   .row-shop1{
      flex-direction: column;
   }
   .career-row{
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      padding: 0;
   }
   .career-col{
      padding: 0;
   }
   .row-shop2{
      flex-direction: column;
   }
 }
 /*---products----*/

 .products{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }
 .products h1{
    font-size: 36px;
    font-weight: 600;
 }
 .products p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 10px;
 }

 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between ;
 }
 .products-type{
    flex-basis: 20%;
    background: #6c070017;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
 }
 .products-type h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
 }
 .products-type:hover{
    box-shadow: 0 0 20px 0px rgba(83, 0, 0, 0.595);
 }


 /*-------------------------shops-------------------------------*/

 .shop{
    justify-content:space-around ;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }
 .row-shop{
    margin-top: 5%;
    display:flex;
    justify-content: space-between ;
 }
 .shop-col{
    flex-basis: 20%;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;  
 }
 .shop-col img{
    width: 100%;
    height: 100%;
    display: block;
 }
 .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0;
    transition: 0.5s;
 }
 .layer:hover{
   background: #0000006b;
 }
 .layer h3{
   font-family: 'Sacramento',cursive;
   font-weight: 500;
   font-size: 30px;                    
   bottom: 0;
   left: 50%;
   transform: translate(-50%);
   position: absolute;
   opacity: 0;
   transition: 0.5s;
 }
 .layer:hover h3{
   bottom: 49%;
   opacity:1;
 }
 .shop p{
   color: #777;
   padding-top: 10px;
 }

 /*-------services--------------*/

 .services{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 100px;
 }
.services-col{
   flex-basis: 15%;
   border-radius: 10px;
   margin-bottom: 5%;
   text-align: left;
}
.services-col img{
   width: 100%;
   border-radius: 10px;
}
.services-col p{
   padding: 0;
}
.services-col h3{
   margin-top: 16px;
   margin-bottom: 15px;
   text-align: left;
}
.button-rev{
   padding-top: 10px;

}
.services button{
   background-color: transparent;
   width: 100px;
   height: 30px;
   border-radius: 20px;
   transition: 0.5s;
}
.services button:hover{
   background-color: #120909;
   color: #fff;
}

/*----------------------reviews-----------------------*/

.reviews{
   width: 80%;
   margin: auto;
   padding-top: 100px;
   text-align: center;
}
.reviews p{
   color: #777;
   padding-top: 10px;
}
.reviews-col{
   flex-basis: 26%;
   border-radius: 10px;
   margin-bottom: 5%;
   text-align: left;
   background: #fff0efb7;
   padding: 25px;
   cursor: pointer;
   display: flex;
   color: #120909;
}
.reviews-col img{
   height: 40px;
   margin-left: 5px;
   margin-right: 30px;
   border-radius: 50%;
}
.reviews-col p{
   padding: 0;
   font-style: oblique;
   font-weight: 500;
   color: #120909;
}
.reviews-col h3{
   margin-top: 10px;
   text-align: left;
   font-weight: 200;
   color: #120909;
}
.reviews-col .fa{
   color: #5d2824;
}

/*-------------calltoaction-----------------------------------*/

.calltoaction{
      width: 100%;
      height: 200%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.523),rgba(0, 0, 0, 0.523)),url(calltoaction.jpg);
      background-size: cover;
      text-align: center;
      margin: 100px auto 0px auto;
      padding-bottom: 70px;
}
.calltoaction h1{
   padding-top: 70px;
   color: #fff;
   font-family: 'Sacramento',cursive;
   font-weight: 300;
   font-size: 300%;
   padding-left: 20px;
   padding-right: 20px;
}
.contact-button{
   text-decoration: none;
   color: #fff;
   border: 1px solid #fff;
   padding: 5px 20px;
   text-align: center;
   font-weight: 300;
   transition: 0.5s;
}
.contact-button:hover{
   background-color: #5d2824;
   border: 1px solid #5d2824;
}
/*----------------------footer-----------------------------*/

.footer{
   position: absolute;
   width: 100%;
   text-align: center;
   padding: 30px 0;
   background-color: #000000;
}
.footer h4{
   margin-bottom: 5px;
   margin-top: 0px;
   font-weight: 300;
   color: #fff;
   font-size: 70%;
}
.footer p{
   color: #fff;
   font-weight: 100;
   font-size: 70%;
}
.icons{
   color: #fff;
   padding-top: 10px;
   padding: 10px;
}
.footer i{
   padding: 15px;
   transition:  0.5s;
}
.footer i:hover{
   font-size: 150%;
   padding-top: 0px;
   padding-bottom: 0px;
}

/*---------------------------about us page--------------------------*/

.sub-header{
   height: 50vh;
   width: 100%;
   background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(about-background.png);
   background-position: center;
   background-size: cover;
   text-align: center;
   color: #fff;
}
.sub-header h1{
   margin-top: 50px;
}
.aboutus-content{
   width: 100%;
   align-items: center;
   margin-top: 100px;
   text-align: center;
}
.about-img img{
   width: 80%;
   align-self: center;
   border-radius: 20px;
   size: 50%;
}
.about-row{
   width: 80%;
   display: block;
   align-items: center;
   margin: auto;
   margin-bottom: 100px;
}
.about-text{
   padding-top: 20px;
   padding-bottom: 10px;
}
.about-text p{
   padding-top: 10px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 10px;
}
.about-button{
   background-color: transparent;
   width: 100px;
   height: 30px;
   border-radius: 5px;
   transition: 1s;
   margin: auto;
   border-color: #5d2824;
   color: #5d2824;
}
.about-button:hover{
   background-color: #5d2824;
   color: #fff;
}
/*-----------------------------shop page------------------------------*/

.row-shop1{
   display: flex;
   justify-content: space-between;
   margin-bottom: 100px;
}
.row-shop1 .services-col{
   flex-basis: 15%;
}
.row-shop2{
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
}
.row-shop1 .services-col{
   flex-basis: 20%;
}
.row-shop2 .services-col p{
   padding: 0;
}

/*---------------------------career-page--------------------------------------*/

.career-content{
   margin: auto;
   padding-top: 150px;
   align-items:center ;
   padding-bottom: 100px;
   background-color: #79604284;
}
.career-row{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-left: 200px;
   margin-right: 200px;
   align-content: center;
}
.career-col{
      padding: 20px;
}
.career-content img{
   border-radius: 10px;
}
.career-col h1{
   margin-bottom: 20px;
   color: #fff;
}
.career-col p{
   color: #fff;
}
.career-col button{
   margin-top: 20px;
   padding: 10px;
   padding-left: 30px;
   padding-right: 30px;
   color: #000000;
   background-color: #fff;
   border: 1px #fff;
   
   transition: 1s;
}
.career-col button:hover{
   color: #fff;
   border: 1px #000000;
   background-color: #000000;
}

/*--------------------------------contact-page---------------------------*/

.contact{
   padding: 50px 30px;
}
.contact-cont{
   border: 1px solid #ccc;
   margin: 50px auto;
   padding: 10px 100px;
}
.contact-cont h3{
   text-align: center;
}
.contact-form input, .contact-form textarea{
   width: 100%;
   padding: 10px;
   margin-top: 15px;
   box-sizing: border-box;
   border: none;
   outline: none;
   background: #f0f0f0;
}
.contact-button2{
   color: #5d2824;
   border: 1px solid #5d2824;
   background-color: transparent;
   padding: 10px;
   margin: 10px 0;
   transition: 1s;
}
.contact-button2:hover{
   background-color: #5d2824;
   color: #fff;
   border: 1px solid transparent;
}